<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生コース一覧</title>
</head>
<body>
<h1>受講生コース一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>受講開始日</th>
    <th>受講修了予定日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentCourse : ${studentCourseList}">
    <td th:text="${studentCourse.id}">1</td>
    <td th:text="${studentCourse.studentId}">山田太郎</td>
    <td th:text="${studentCourse.courseName}">ヤマダタロウ</td>
    <td th:text="${studentCourse.startDate}">タロー</td>
    <td th:text="${studentCourse.completionDate}">taro@example.com</td>
  </tr>
  </tbody>
</table>
</body>
</html>